:root{
    --azul-obscuro: #141E27;
    --verde: #43c432;
    --gradiente-verde: linear-gradient(to bottom right, #43c432, rgb(240, 248, 255, 0.2));
    --verde-rgba:rgba(67, 196, 50, 0.4);
    --blanco-azulado: aliceblue;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    font-family: 'Dosis', sans-serif;
}
#icono{
    border-radius: 50%;
}
body{
    width: 100%;
    background-color: var(--azul-obscuro);
}
header{
    width: 100%;
    height: auto;
}
header .container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container-menu .container__search{
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--verde-rgba);
    margin-top: 20px;
}
.logo_marco{
    width: 80px;
    height: 50px;
    border-radius: 25px;
}
header .container-menu .container__search .container--links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header .container-menu .container__search .container--links .links{
    font-size: 1.1rem;
    color: var(--verde);
    text-decoration: none;
    cursor: pointer;
    margin: 0px 10px;
}
header .container-menu .container__search .container--links .links:hover{
    font-weight: 600;
}
header .container-menu .container__search .container--links .lenguage{
    border: none;
    background: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--verde);
    margin: 0px 10px;
}
header .container-menu .container__search .container--links .lenguage:hover{
    font-weight: 600;
}
.container_designer{
    width: 100%;
    height: 500px;
    margin-top: 150px;
}
.container--titulo_designer{
    width: 100%;
    height: 100px;
}
.container--titulo_designer figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 150px;
}
.image-avatar{
    width: 250px;
    height: 250px;
    border-bottom: 2px solid var(--verde-rgba);
    border-radius: 50%;
    margin-right: 30px ;

    opacity:0;
    animation-name: image--avatar;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes image--avatar {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.titulo_designer{
    width: 200px;
    height: 50px;
    margin-top: 250px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#my_name{
    width: 100%;
    height: 100%;
    font-size: 2.3rem;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    color: var(--verde);
    animation-name: animation-name;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes animation-name {
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
#my_profile{
    width: 100%;
    height: 100%;
    color: var(--verde);
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
    margin-top: 10px;
    animation-name:animation--profile;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}
@keyframes animation--profile {
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0px);
    }
}
#country{
    display: none;
}
.section_1{
    width: 100%;
    max-height: 600px;
    padding: 50px 0px;
    background: var(--gradiente-verde)
}
.section_1 .container_biography{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.section_1 .container_biography .biography{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_1 .container_biography .biography .container__text1{
    font-size: 1.5rem;
    color: var(--blanco-azulado);
    text-align: center;
}
.section_1 .container_biography .biography .container__text2{
    font-size: 1.5rem;
    color: var(--blanco-azulado);
    text-align: center;
    margin-top: 15px;
}
.conector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 30px 0px;
}
.conector .conector_proyectos{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: var(--azul-obscuro);
    margin-bottom: 30px;
}
.title-pro1{
    font-family: 'Dosis', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color:var(--verde);
    margin-left: 25px;
}
/* section 2 */
.container-proyects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container-proyects .container-pro{
    display: flexbox;
    width: 100%;
    height: 100%;
    padding: 30px 5px;
}
.introduction{
    display: none;
}
.container-proyects .container-pro .description{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.container-proyects .container-pro .description h3{
    font-size: 1.2rem;
    color: var(--verde);
    margin-right: 30px;
}
.img_proyects{
    width: 100%;
    height: 200px;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
.img_proyects:hover{
    box-shadow: 2px 2px 30px 1px var(--verde-rgba);
}
.screen__cellphone{
    display: none;
}
/* Biography */
#link-project{
    margin-right: 10px;
}
.Biography{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Biography .subtitle--about_me{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Biography .subtitle--about_me h2{
    font-size: 2.3rem;
    color: var(--verde);
    font-family: 'Dosis', sans-serif;
}
.Biography .container-Biography{
    width: 100%;
    max-height: 900px;
    background:var(--blanco-azulado);
    padding: 30px 10px;
}
.container-Biography--preferences{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.My-name{
    font-size: 1.3rem;
    color: var(--azul-obscuro);
}
.container-Biography--preferences p{
    font-size: 1.3rem;
    color: var(--azul-obscuro);
}

.Biography .container-Biography .container-history{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 80px;
}
.Biography .container-Biography .container-history .history-subtitle{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: underline var(--verde);
    color: var(--azul-obscuro);
    padding-left: 20px;
}
.Biography .container-Biography  .container-history .skillset{
    font-size: 1.3rem;
    color: var(--azul-obscuro);
    padding-left: 20px;
    margin-top: 10px;
}
.Biography .container-Biography .container-experience{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top:40px;
}
.Biography .container-Biography .container-experience .experience-subtitle{
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: underline var(--verde);
    color: var(--azul-obscuro);
    padding-left: 20px;
}
.experience{
    font-size: 1.3rem;
    color: var(--azul-obscuro);
    padding-left: 20px;
    margin-top: 10px;
}
.Biography .container-Biography .container-education{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top:40px;
}
.Biography .container-Biography .container-education .education-subtitle{
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: underline var(--verde);
    color: var(--azul-obscuro);
    padding-left: 20px;
}
.education{
    font-size: 1.3rem;
    color: var(--azul-obscuro);
    padding-left: 20px;
    margin-top: 10px;
}
.container-photo{
    display:none;
}
.container-programming .container-languages h3{
    font-size: 2rem;
    color: var(--verde);    
    text-align: center;
    margin-top: 80px;
}
.container-languages .languages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background: var(--gradiente-verde);
    margin-top: 80px;
    margin-bottom: 80px;
}
.container-languages .languages img{
    width: 85px;
    height: 85px;
}

.container-languages .languages .container-python{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-languages .languages .container-python img{
    width: 60px;
    height: 60px;
}
.container-languages .languages .container-python span{
    font-size: 1.3rem;
    color:var(--blanco-azulado);
}
.section-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-cursos h3{
    font-size: 2rem;
    color: var(--verde);
    text-align: center;
}
.container-cursos .cursos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 80px;
}
.container-cursos .cursos img{
    width: 240px;
    height: 200px;
    border-radius: 15px;
    margin-top: 15px;
}
.container-cursos .cursos img:hover{
    box-shadow: 2px 2px 30px 1px var(--verde-rgba);
}
/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #678983;
    width: 100%;
    height: 400px;
    color: var(--azul-obscuro);
}
.contacto{
    margin-bottom: 60px;
    font-size: 3rem;
}
aside{
    width: 100%;
}
.container__network{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.network{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.network span{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--azul-obscuro);;
}
.network span:hover{
    font-weight: 600;
}
.twitter img{
    width: 60px;
    height: 60px;
}
.Instagram img{
    width: 60px;
    height: 60px;
}
.github img{
    width: 60px;
    height: 60px;
}
.linkedin img{
    width: 60px;
    height: 60px;
}
.footer__End{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.footer__End .pie{
    font-size: 1.5rem;
}
.footer__End #rights{
    font-size: 1.5rem;
}