:root{
    --azul-obscuro: #141E27;
    --verde: #43c432;
    --gradiente-verde: linear-gradient(to bottom right, #43c432, rgb(240, 248, 255, 0.2));
    --verde-rgba:rgba(67, 196, 50, 0.4);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}
body{
    width: 100%;
    background-color: var(--azul-obscuro);
}
header{
    width: 100%;
    height: auto;
}
header .container-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .container-menu .logo_marco{
    width: 80px;
    height: 80px;
}
header .container-menu .link-bio{
    font-size: 1.4rem;
    color: var(--verde);
    text-decoration: none;
    cursor: pointer;
}
header .container-menu .link-bio:hover{
    font-weight: 600;
}
header .container-menu .Idiome{
    position: absolute;
    top:70px;
    right: 20px;
}
header .container-menu .Idiome button{
    width: 130px;
    height: 25px;
    border-radius: 30px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--verde);
}
header .container-menu .Idiome button:hover{
    font-weight: 600;
}
.container_designer{
    width: 100%;
    margin-top: 100px;
}
.titulo_designer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--verde);
    width: auto;
    margin-left: 20px;
}
#greting{
    width: 100%;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
}
#my_name{
    width: 100%;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
}
#my_profile{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: var(--verde);
    margin-left:-55px;
    padding: 0px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
}
.section_1{
    margin-top: 100px;
    width: 100%;
    height: 680px;
    background: var(--gradiente-verde)
}
.section_1 .container_biography .biography{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_1 .container_biography .biography p{
    font-size: 1.9rem;
    color: aliceblue;
    text-align: center;
    margin-top: 15px;
    padding: 8px;
}
.conector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 30px 0px;
}
.conector .conector_proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 130px;
    background: var(--azul-obscuro);
    border-radius: 20px;    
}
.title-pro1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    font-weight: bold;
    color:var(--verde);
}
/* section 2 */
.container-proyects .container-pro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.container-proyects .container-pro .description{
    width: 100%;
    height: auto;
    text-align: center;
}
.container-proyects .container-pro .description h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--verde);
    margin-top: 10px ;
}
.container-proyects .container-pro .description p{
    font-size: 1.5rem;
    color: white;
    margin:20px 0;
    margin-left: 10px;
}
.img_proyects{
    width: 280px;
    height: 200px;
    border-radius: 10px;
    margin: 10px ;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.8);
}
.img_proyects:hover{
    box-shadow: 2px 2px 30px 1px var(--verde-rgba);
}
/* Biography */

.Biography{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.Biography h2{
    font-size: 50px;
    color: var(--verde);
    font-family: 'Alfa Slab One', cursive;
}
.Biography .container-Biography{
    width: 100%;
    height: 2500px;
    background: white;
    margin-top: 160px
}
.Biography .container-Biography .container-photo img{
    position: relative;
    top: -80px;
    left:80px;
    width: 160px;
    height: 165px;
    border-radius: 25px;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.5);
}
.Biography .container-Biography .container-Biography--preferences{
    position: relative;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Biography .container-Biography .container-Biography--preferences .My-name{
    font-size: 1.7rem;
    text-decoration: underline var(--verde);
    font-weight: 600;
    color: var(--azul-obscuro);
}
.Biography .container-Biography .container-Biography--preferences p{
    font-size: 1.5rem;
    color: var(--azul-obscuro);
}
.Biography .container-Biography .container-history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Biography .container-Biography .container-history .history-subtitle{
    font-size: 1.7rem;
    text-decoration: underline var(--verde);
    font-weight: 600;
    color: var(--azul-obscuro);
}
.Biography .container-Biography .container-history .history-subtitle--conclusiones{
    font-size: 1.7rem;
    text-decoration: underline var(--verde);
    font-weight: 600;
    color: var(--azul-obscuro);
    margin-top: 20px;
}
.Biography .container-Biography .container-history p{
    font-size: 1.5rem;
    color: var(--azul-obscuro);
    text-align: center;
    margin-top: 15px;
}
.container-programming .container-languages h3{
    font-size: 35px;
    color: var(--verde);
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    margin-top: 80px;
}
.container-languages .languages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background: var(--gradiente-verde);
    margin-top: 80px;
    margin-bottom: 80px;
}
.container-languages .languages img{
    width: 100px;
    height: 100px;
}

.container-languages .languages .container-python{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-languages .languages .container-python img{
    width: 80px;
    height: 80px;
}
.container-languages .languages .container-python span{
    font-size: 1.3rem;
    color: white;
}
.section-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-cursos h3{
    font-size: 35px;
    color: var(--verde);
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}
.container-cursos .cursos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 80px;
}
.container-cursos .cursos img{
    width: 240px;
    height: 200px;
    border-radius: 15px;
    margin-top: 15px;
}
.container-cursos .cursos img:hover{
    box-shadow: 2px 2px 30px 1px var(--verde-rgba);
}
/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #678983;
    width: 100%;
    height: 400px;
}
.contacto{
    margin-bottom: 60px;
    font-size: 3rem;
}
aside{
    width: 100%;
}
.container__network{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.network{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.network span{
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
}
.network span:hover{
    font-weight: 600;
}
.twitter img{
    width: 60px;
    height: 60px;
}
.Instagram img{
    width: 60px;
    height: 60px;
}
.github img{
    width: 60px;
    height: 60px;
}
.linkedin img{
    width: 60px;
    height: 60px;
}
.footer__End{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.footer__End .pie{
    font-size: 1.5rem;
}
.footer__End #rights{
    font-size: 1.5rem;
}