:root{
    --azul-obscuro: #141E27;
    --verde: #43c432;
    --gradiente-verde: linear-gradient(to bottom right, #43c432, rgb(240, 248, 255, 0.2));
    --verde-rgba:rgba(67, 196, 50, 0.4);
}
header .container-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
header .container-menu .container__search{
    width: 700px;
    height: 60px;
}
header .container-menu .logo_marco{
    position: relative;
    width: 120px;
    height: 54px;
    border-radius: 35px;
}
header .container-menu .Idiome{
    position: absolute;
    top:40px;
    right: 80px;
}
.container_designer{
    position: relative;
}
.image-avatar{
    opacity:0;
    animation-name: image--avatar;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes image--avatar {
    0%{
        opacity: 0;
        transform: translateX(0);
    }
    100%{
        opacity: 1;
        transform: translateX(-100px);
    }
}
#my_name{
    position:relative;
    top: -270px;
    animation-name: animation-name;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes animation-name {
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }
    100%{
        opacity: 1;
        transform: translateX(150px);
    }
}
#my_profile{
    position: relative;
    top: -250px;
    left: 150px;
    font-weight: 200;
    animation-name:animation--profile;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}
@keyframes animation--profile {
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0px);
    }
}
#country {
    display: initial;
    width: 100%;
    height: 100%;
    color: var(--verde);
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
    position: relative;
    top: -250px;
    left: 150px;
    animation-name:animation--country;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}
@keyframes animation--country {
    0%{
        transform: translateY(150px);
    }
    100%{
        transform: translateY(0px);
    }
}
.section_1{
    padding-top: 30px;
    max-height: 400px;
}
.section_1 .container_biography .biography p{
    font-size: 1.9rem;
    color: aliceblue;
    text-align: center;
    margin-top: 15px;
    padding:0px 100px;
}
.title-pro1{
    margin-top: 30px;
    margin-left: 60px;
}
.container-proyects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.container-proyects .container-pro{
    width: 90%;
}
.screen__cellphone{
    display: initial;
    width: 320px;
    height: 540px;
    border: 8px solid black;
    border-radius: 25px;
}
.screen__cellphone:hover{
    box-shadow: 2px 2px 30px 1px var(--verde-rgba);
}
.rote-psg{
    width: 303px;
    height: 523px;
    border-radius: 20px;
}
.img_proyects{
    display: none;
}
.container-proyects .container-pro figure{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.introduction{
    display: initial;
    font-size: 1.5rem;
    color: var(--verde);
    text-align: center;
    padding: 5px 10px;
}

/* biography */
.Biography{
    max-height:1100px ;
}
.Biography h2{
    font-size: 60px;
}
.Biography .container-Biography{
    display: block;
    width: 95%;
    height: 850px;
    border-radius: 15px;
}
.Biography .container-Biography .container-Biography--preferences .My-name{
    font-size: 1.6rem;
    font-weight: 800;
}
.container-history{
    margin-left: 50px;
}
.container-experience{
    margin-left: 50px;
}
.container-education{
    margin-left: 50px;
}
.container-photo{
    display:initial;
    position: absolute;
    top: 750px;
    left: 450px;
    max-width: 300px;
    max-height: 300px;
}
.container-photo img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    border: 5px solid var(--verde-rgba);
}
.container-languages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-languages .languages{
    width: 95%;
    height: 400px;
    background: var(--gradiente-verde);
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 15px;
}
.container-languages .languages img{
    width: 170px;
    height: 170px;
}
.container-languages .languages .container-python img{
    width: 120px;
    height: 120px;
}
.container-languages .languages .container-python span{
    font-size: 1.7rem;
    color: white;
}
.container-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
}